{% extends 'top.html'%}

{% block table %}
	<table style="margin-left: 60px;" width="200" >
		<thead>
			<tr>
				<th>序号</th>
				<th>书名</th>
				<th>价格</th>
			</tr>
		</thead>
		<tbody >
			{% for book in books %}
				<tr>
					<td align="center">{{ forloop.counter }}</td>
					<!--<td align="center"><a href="{% url 'bookinfo' id=book.2 %}">{{ book.0 }}</a></td>-->
					<td align="center"><a href="{% url 'bookinfo' name=book.0 %}">{{ book.0 }}</a></td>
					<td align="center">{{ book.1 }}</td>
				</tr>		
			{% endfor %}
		</tbody>
	</table>
{% endblock %}